<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/fonts.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="form-wrapper">
        <label>Generate subtitles</label>
        <form action="/upload/" method="post" enctype="multipart/form-data">
            <input type="file" name="video" accept="video/mp4"/ required>
            <div class="checkbox-wrapper">
                <input id="word_level" type="checkbox" name="word_level">
                <label for="word_level">Highlight words</label>
            </div>
            <input type="submit" value="Upload"/>
        </form>
    </div>
</body>
</html>